---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app node-red
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      node-red:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: docker.io/nodered/node-red
              tag: 4.1.3
            env:
              TZ: ${TIMEZONE}
              NODE_RED_ENABLE_PROJECTS: "true"
              NODE_RED_ENABLE_SAFE_MODE: "false"
              FLOWS: flows.json
            envFrom:
              - secretRef:
                  name: node-red-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: 20m
                memory: 256Mi
              limits:
                memory: 512Mi

    service:
      app:
        controller: node-red
        ports:
          http:
            port: 1880

    ingress:
      app:
        className: internal
        hosts:
          - host: &host node-red.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

      tailscale:
        enabled: true
        className: tailscale
        hosts:
          - host: &tsHost node-red
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *tsHost

    persistence:
      data:
        enabled: true
        existingClaim: node-red-data
        globalMounts:
          - path: /data

      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
