---
apiVersion: fluxcd.controlplane.io/v1
kind: FluxInstance
metadata:
  name: flux
  namespace: flux-system
spec:
  distribution:
    # renovate: datasource=github-tags depName=fluxcd/flux2
    version: "2.4.x"
    registry: "ghcr.io/fluxcd"
  components:
    - source-controller
    - kustomize-controller
    - helm-controller
    - notification-controller
    - image-reflector-controller
    - image-automation-controller
  cluster:
    type: kubernetes
    multitenant: false
    networkPolicy: false
    domain: "cluster.local"
  sync:
    kind: GitRepository
    url: "https://github.com/evanmoelter/hcc.git"
    ref: "refs/heads/main"
    path: "kubernetes/main/flux"
  kustomize:
    patches:
      # Increase the number of reconciliations and API limits
      - patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --concurrent=8
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --kube-api-qps=500
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --kube-api-burst=1000
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --requeue-dependency=5s
        target:
          kind: Deployment
          name: (kustomize-controller|helm-controller|source-controller)
      # Increase resource limits
      - patch: |
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: not-used
          spec:
            template:
              spec:
                containers:
                  - name: manager
                    resources:
                      limits:
                        cpu: 2000m
                        memory: 2Gi
        target:
          kind: Deployment
          name: (kustomize-controller|helm-controller|source-controller)
      # Enable Helm OOM detection
      - patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --feature-gates=OOMWatch=true
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --oom-watch-memory-threshold=95
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --oom-watch-interval=500ms
        target:
          kind: Deployment
          name: helm-controller
      # Enable SOPS age decryption
      - patch: |
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: not-used
          spec:
            template:
              spec:
                containers:
                  - name: manager
                    env:
                      - name: SOPS_AGE_KEY_FILE
                        value: /home/controller/.config/sops/age/keys.txt
                    volumeMounts:
                      - name: sops-age
                        mountPath: /home/controller/.config/sops/age
                        readOnly: true
                volumes:
                  - name: sops-age
                    secret:
                      secretName: sops-age
        target:
          kind: Deployment
          name: kustomize-controller
