# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
kubeconfig-*
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Private
.private
.bin
# Ansible
.venv*
# Talos
talosconfig
rendered
# Taskfile
.task
# Brew
Brewfile.lock.json
# intellij
.idea
# Claude Code
.claude/settings.local.json
# wiki
wiki
.terraform/
.env
