---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-instance
  namespace: flux-system
spec:
  dependsOn:
    - name: flux-operator
  interval: 1h
  path: ./kubernetes/main/apps/flux-system/flux-instance/app
  prune: false
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
