---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: tailscale-operator
  namespace: network
spec:
  interval: 30m
  chart:
    spec:
      chart: tailscale-operator
      version: 1.88.4
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: tailscale
        namespace: flux-system
  values:
    operatorConfig:
      hostname: "tailscale-operator"
    # API proxy is not working with k3s cluster auth
    # apiServerProxyConfig:
    #   mode: "noauth"
  valuesFrom:
    - kind: Secret
      name: tailscale-operator
      valuesKey: client_id
      targetPath: oauth.clientId
    - kind: Secret
      name: tailscale-operator
      valuesKey: client_secret
      targetPath: oauth.clientSecret
