---
apiVersion: batch/v1
kind: Job
metadata:
  name: postgres-restore
spec:
  template:
    spec:
      initContainers:
      - name: set-backup-permissions
        image: busybox
        command: ["sh", "-c", "chmod 777 /backup"]
        volumeMounts:
        - name: backup-volume
          mountPath: /backup
      - name: init-db
        image: ghcr.io/onedr0p/postgres-init:16.2
        envFrom: &envFrom
          - secretRef:
              name: teslamate-secret
      containers:
      - name: postgres-restore
        image: postgres:17.7
        volumeMounts:
        - name: backup-volume
          mountPath: /backup
        - name: script-volume
          mountPath: /scripts
        envFrom: *envFrom
        env:
        - name: PGPASSWORD
          valueFrom:
            secretKeyRef:
              name: teslamate-secret
              key: INIT_POSTGRES_SUPER_PASS
        command: ["/bin/bash", "/scripts/restore.sh"]
      restartPolicy: Never
      volumes:
      - name: backup-volume
        persistentVolumeClaim:
          claimName: teslamate-backup-pvc
      - name: script-volume
        configMap:
          name: restore-script
  backoffLimit: 0
