---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
spec:
  interval: 30m
  chart:
    spec:
      chart: volsync
      version: 0.13.1
      sourceRef:
        kind: HelmRepository
        name: backube
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: snapshot-controller
      namespace: storage
  values:
    manageCRDs: true
    image: &image
      repository: ghcr.io/evanmoelter/volsync
      tag: 0.12.1@sha256:66a513eccd52ee385b09cc40deed1bc3499afc89939dded706d7b28928ccc923
    restic:
      <<: *image
    metrics:
      disableAuth: true
